:root {
  --background: #fff;
  --input-color: #1B2028;
  --input-text-color: #1B2028;
  --bg-input-color: #fff;
  --text-color: #1b2028;
  --bg-secondary: #ededed;
  --rating-color-one: #FFFFFF;
  --rating-color-two: #F1C40F;
  --bg-modal: #ededed;
  --bg-modal-average: #F1C40F;
}